body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background: linear-gradient(to right, #3c58ac, #8238bb);
}

h1 {
  text-align: center;
  color: #000; 
  font-family: 'Poppins', sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.internship-card {
  flex: 0 1 calc(50% - 20px);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.internship-card h2 {
  margin-top: 0;
  color: #000000;
}

.internship-card p {
  margin: 8px 0;
  color: #555;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .internship-card {
    flex: 0 1 100%;
  }
}



.internship-card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}